/**
  |============================
  | Root styles
  |============================
*/
:root {
    /* Colors */
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
    --color-bgd: #2e2f42;

    /* Fonts */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
    color: var(--color-slate);
    background-color: var(--color-white);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-nav-logo {
    color: var(--color-iris);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    align-items: center;
}

.dark-logo {
    color: var(--color-navy-blue);
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-item {
    position: relative;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-style: normal;
    color: var(--color-navy-blue);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
    color: var(--color-ocean);
}

.nav-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.nav-link.active::after {
    background: var(--color-ocean);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-ocean);
}

.header-contacts {
    font-style: normal;
    color: var(--color-slate);
}

.header-contacts-list {
    display: flex;
    margin-right: auto;
    gap: 40px;
}

.contact-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-style: normal;
    color: var(--color-slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--color-ocean);
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-bgd);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img17.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 496px;
    margin-top: 0;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--color-iris);
    display: block;
    margin: auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: var(--color-ocean);
}

/**
  |============================
  | Advantages styles
  |============================
*/
.advantages {
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    align-items: baseline;
}

.advantage-item {
    width: 264px;
}

.advantage-item:not(:last-child) {
    margin-right: 24px;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}

.desc {
    color: var(--color-slate);
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
}

/*  

     */
/**
  |============================
  | Works styles
  |============================
*/
.title {
    color: var(--color-navy-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 72px;
}

.works-list {
    display: flex;
    align-items: center;
}

.works-section {
    padding-bottom: 120px;
}

.works-item:not(:last-child) {
    margin-right: 24px;
}

/**
  |============================
  | Team styles
  |============================
*/
.team {
    background-color: var(--color-cloud);
    padding: 120px 0;
}

.team-list {
    display: flex;
    align-items: center;
}

.team-item {
    background-color: var(--color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 24px;
}

.team-img {}

.team-desc {
    margin-bottom: 8px;
}

.team-name {
    padding: 32px 0;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

/* Social icons */

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}


.socials-item {}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
    fill: var(--color-cloud);
}

.socials-link:hover {
    background-color: var(--color-ocean);
}

.socials-link:focus {
    background-color: var(--color-ocean);
}

/**
  |============================
  | Customers styles
  |============================
*/

.customers {
    padding: 120px 0;
}

.customers-title {
    line-height: 1.1;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light-slate);
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    width: 168px;
    height: 88px;
    fill: var(--color-light-slate);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons {
    fill: currentColor;
}

.customers-link:hover .customers-icons {
    fill: var(--color-ocean);
}

.customers-link:focus .customers-icons {
    fill: var(--color-ocean);
}

.customers-link:hover {
    border-color: var(--color-ocean);
}

.customers-link:focus {
    border-color: var(--color-ocean);
}

.customers-link:hover {
    color: var(--color-ocean);
}

.customers-link:focus {
    color: var(--color-ocean);
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
    background-color: var(--color-bgd);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-container {
    display: inline-block;
    margin-right: 120px;
}

.footer-logo {
    color: var(--color-iris);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.light-logo {
    color: var(--color-cloud);
}

.footer-desc {
    color: var(--color-cloud);
    max-width: 264px;
}

.media-container {
    display: inline-block;
}

.media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
}

.media-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Media icons */


.media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icons {
    fill: var(--color-cloud)
}

.media-link:hover {
    background-color: var(--color-green);
}

.media-link:focus {
    background-color: var(--color-green);
}

/**
  |============================
  | Portfolio styles
  |============================
*/

.portfolio {
    padding: 96px 0 120px 0;
}

.portfolio-title {}

.filters-list {
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 72px;
    justify-content: center;
}

.filter-item:not(:last-child) {
    margin-right: 24px;
}

.filter-item {}

.filter-btn {
    font-family: inherit;
    background-color: var(--color-cloud);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    display: block;
    margin: auto;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover {
    background-color: var(--color-ocean);
    color: var(--color-white);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:focus {
    background-color: var(--color-ocean);
    color: var(--color-white);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-project {
    padding: 32px 16px;
    border-top: none;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

.portfolio-subtitle {
    margin-bottom: 8px;
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.portfolio-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-desc {
    color: var(--color-slate);
}

.portfolio-view {}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-img {}

.overlay-text {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-iris);
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-text {
    transform: translateY(0%);
}

.portfolio-link:focus .overlay-text {
    transform: translateY(0%);
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 576px;
    background: var(--color-dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    background: var(--color-ocean);
    border: none;
}

.modal-close-btn:focus {
    background: var(--color-ocean);
    border: none;
}

.modal-close-icon {
    fill: var(--color-bgd);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon {
    fill: var(--color-white);
    border: none;
}

.modal-close-btn:focus .modal-close-icon {
    fill: var(--color-white);
    border: none;
}